<div class="container-fluid" id="content">    
    <div class="row">
        <div class="col-md-12" id="welcome"></div>
    </div>
    <div class="row">
        <div class="col-md-12" id="about"></div>
    </div>
    <div class="row">
        <div class="col-md-12" id="picture">
            <div class="center-block" style="padding-top:5%; padding-bottom:2%;">
                <img src="images/cedric.jpg" class="img-circle center-block" style="max-width:500px; max-height:500px;" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="cv"></div>
    </div>
    <div class="row">
        <div class="col-md-12" id="portfolio"></div>
    </div>
    <div class="row">
        <div class="col-md-12" id="map"></div>
    </div>
    <div class="row">
        <div class="col-md-12" id="contact"></div>
    </div>
<div>