<div class="container-fluid" id="header">
    <div class="row" style="margin:0px;">
        <div class="col-xs-2" style="padding:5px 0px;">
            <img style="height:60px; margin-left:10px;" src="images/cedlabprod_trsp.png" class="pull-left">
        </div>
        <div class="col-xs-2" style="padding:5px 0px;">
            <h3 class="thin-text center-text" data-navi="about"><a class="navigator discrete-a" id="habout" data-navi="about"><%= about[Tools.general.getCurrentLanguage()] %></a></h3>
        </div>
        <div class="col-xs-2" style="padding:5px 0px;">
            <h3 class="thin-text center-text" data-navi="picture"><a class="navigator discrete-a" id="hcv" data-navi="picture">Cedric</a></h3>
        </div>
        <div class="col-xs-2" style="padding:5px 0px;">
            <h3 class="thin-text center-text" data-navi="portfolio"><a class="navigator discrete-a" id="hportfolio" data-navi="portfolio">Portfolio</a></h3>
        </div>
        <div class="col-xs-2" style="padding:5px 0px;">
            <h3 class="thin-text center-text" data-navi="map"><a class="navigator discrete-a" id="hcontact" data-navi="map">Contact</a></h3>
        </div>
        <div class="col-xs-2" style="padding:5px 0px;">
            <h1 class="thin-text pull-right" style="margin-top:10px; margin-right:10px;"><a class="langswitch discrete-a" data-lang="FR">FR</a> / <a class="langswitch discrete-a" data-lang="EN">EN</a></h1>
        </div>
    </div>
</div>